.contact {
    background: linear-gradient(rgba(40, 58, 90, 0.5), rgba(40, 58, 90, 0.5)), url("download/coworkers.jpg") fixed center center;
    background-size: cover;
    padding: 57px 0 !important; /* Increase the padding to adjust the height */
    display: flex;
    justify-content: center;
}


.text-1 {
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.5px;
    word-spacing: 0.5rem;
    font-weight: 600;
}

#getintouch{
    width: 100%;
    height: fit-content;
    margin-top: 100px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}