* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* text-transform: capitalize !important; */
    text-decoration: none !important;
    list-style: none;
    transition: .3s;
}

button{
    background-color:skyblue;
}


#pills-tab{
    justify-content: center;
    align-items: center;
    padding: 1px 10px ;
}

.nav-link{
    background-color: none;
}

.form-control:hover ,.form-control:focus {
    border-bottom-color:gold !important;
    /* background-color: red; */
  }

  


#navber-icons {
    color: goldenrod !important;
    border: none !important;
}


/* navber */
nav.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #495469 !important; */
}

.dropdown:hover>.dropdown-menu, .dropdown:focus>.dropdown-menu {
    display: flex;
    width: 60%;
    margin-left: auto;
    position: absolute;
    justify-content: center;
    overflow: break-word;
    align-items: center;
    justify-content: center;
}

.dropdown-menu ul li {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    margin: 0;
    overflow: hidden;
    border-radius: 1px 12px;
    text-align: left;
}

#heading2 {
    display: inline-flex !important;
    margin-top: 0;
    padding: 10 22px !important;
    justify-content: end !important;
}
nav ul li a {
    font-size: medium !important;
}

.px-6 {
    padding-right: 22px !important;
    padding: 0 22px !important;
}

.navbar a:hover:not(.navbar-brand),
footer a:hover {
    color: goldenrod;
    text-decoration: none;
    /* border-bottom: 1px solid black !important; */
}

.navbar .has-megamenu {
    position: static !important;
}

.navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
}

.updesign{
    /* padding :30px;
    justify-content: center;
    align-items: center;
    text-align: center;; */

}

.hero-banner{
    /* background-color: #f0f0fc;  */
    
    background-position: center;
    background-size: cover;
    /* height: 500px; */
    height: 80vh;
}
#updesign{
    margin-top: -250px;
   
}

/* desktop has been end  */

/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    .contact-container{
        width: 85% !important;
    }
}

footer {
    background-color: #04062C !important;
    padding-top: 12px !important;
    padding: 12px 12px !important;
    text-decoration: none !important;
    color:white;
}

  .new-contact-design {
    height: 650px;
    position: relative;
    margin-bottom: 500px;
} 
