@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    list-style: none;
    transition: .3s;
}


.contact {
    background: linear-gradient(rgba(40, 58, 90, 0.5), rgba(40, 58, 90, 0.5)), url("download/coworkers.jpg") fixed center center;
    background-size: cover;
    padding: 57px 0 !important; /* Increase the padding to adjust the height */
    display: flex;
    justify-content: center;
}


.text-1 {
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.5px;
    word-spacing: 0.5rem;
    font-weight: 600;
}

#getintouch{
    width: 100%;
    height: fit-content;
    margin-top: 100px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover:not(.navbar-brand),
footer a:hover {
    color: goldenrod;
    text-decoration: none;
    /* border-bottom: 1px solid black !important; */
}

/* footer a{
    padding: 5px 10px !important;
    display: inline-block;

} */

footer {
    background-color: #04062C !important;
    padding-top: 12px !important;
    padding: 12px 12px !important;
    text-decoration: none !important;
    color: black;
}