    * {
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        text-decoration: none;
        list-style: none;
        text-decoration: none !important;
    }

    #navber-icons {
        color: goldenrod !important;
    }

    #navber-icons:hover {
        border: none !important;
      }
      .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
         color: none !important;
        background-color: none !important;
    }
    #pills-tab .nav-pills .nav-link.active{
        background-color: unset !important;
        font-size: 45px;
    }
 
    #myTab .nav-item .nav-tabs button .nav-link.active{
        border-color: unset !important;
    }

    button#pills-skills-tab {
        color: var(--bs-nav-link-hover-color);
        background: white;
    }

        #employee-profile ::-webkit-scrollbar {
        width: 5px;
      }
      #employee-profile  ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
      #employee-profile  ::-webkit-scrollbar-thumb {
        background: #888;
      }
      
      /* Handle on hover */
      #employee-profile  ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }