    * {
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        text-decoration: none;
        list-style: none;
        text-decoration: none !important;
    }

    #navber-icons {
        color: goldenrod !important;
    }

    #navber-icons:hover {
        border: none !important;
      }
      .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
         color: none !important;
        background-color: none !important;
    }

    #pills-tab .nav-pills .nav-link.active{
        background-color: unset !important;
        font-size: 45px;
    }
 
    #myTab .nav-item .nav-tabs button .nav-link.active{
        border-color: unset !important;
    }

 
    /* button.nav-link.active {
        color: var(--bs-nav-link-hover-color);
        background: white !important;
    }  */

        #employee-profile ::-webkit-scrollbar {
        width: 5px;
      }
      #employee-profile  ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
      #employee-profile  ::-webkit-scrollbar-thumb {
        background: #888;
      }
      
      /* Handle on hover */
      #employee-profile  ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }


      .nav-link {
        border-bottom: 2px solid transparent;
        color: #000; /* Default text color */
    }

    .nav-pills button.nav-link.active {
        border-bottom-color:orange  !important; /* Change to the desired border color when active */
        color: #007bff !important; /* Change to the desired text color when active */
        background-color: transparent !important;
    }

/* Remove the bouncing effect */
.nav-link:focus,
.nav-link:active {
  outline: none;
}

/* Add border on hover */
.nav-link:hover {
  /* border: 1px solid #ccc; Change the color as per your preference */
  border-radius: 5px; /* Optional: Add border radius to soften the edges */
}

#sunny ul li i{
  font-size: 13px !important;
}

