@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    list-style: none;
    transition: .3s;
}


.center-icon a {
    display: inline-block;
    vertical-align: middle;
}

.center-icon i:hover {
    color: goldenrod !important;
}

.center-icon i {
    vertical-align: middle;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 550px !important;
    }
}

#addressbar {
    font-size: 12px;
    padding: 1px 2px !important;
    z-index: 111px;

}

.industry-img:hover {
    padding: 1px 2px 2 !important;
}

#navber-icons {
    color: goldenrod !important;
}

#navber-icons:hover {
    border: none !important;
}

/* navber */
nav.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.dropdown:hover:not(.notdrop)>.dropdown-menu,
.dropdown:focus:not(.notdrop)>.dropdown-menu {
    display: flex;
    width: 65%;
    margin-left: auto;
    position: absolute;
    justify-content: center;
    overflow: break-word;
    align-items: center;
    justify-content: center;
}


.dropdown-menu ul li {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    margin: 0;
    overflow: hidden;
    border-radius: 1px 12px;
    text-align: left;
}

#heading2 {
    display: inline-flex !important;
    margin-top: 0;
    padding: 10 22px !important;
    justify-content: end !important;
}


.px-6 {
    padding-right: 22px !important;
    padding: 0 22px !important;
}

.navbar a:hover:not(.navbar-brand),
footer a:hover {
    color: goldenrod;
    text-decoration: none;
    /* border-bottom: 1px solid black !important; */
}

.navbar .has-megamenu {
    position: static !important;
}

.navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
}



/* desktop has been end  */

/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

.carousel-indicators button {
   
    height: 5px !important;
    width: 5px !important;
    border-radius: 50%;
}

.c-item {
    height: 550px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.dropdown-menu {
    border: none !important;
}


.card :hover {
    transform: scale(0.9);
}

/* footer a{
    padding: 5px 10px !important;
    display: inline-block;

} */

.owl-carousel .card {
    height: 250px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.owl-carousel .card-body {
    position: absolute;
    /* background-color: #f4faf7; */
    background-color: #539071;
    /* background-image: transparent !important; */
    height: 100%;
    top: 70%;
    transition: all 0.7s;
}

.owl-carousel .card:hover .card-body {
    top: 0;
}

#technology .nav-pills .nav-link:hover,
#technology .nav-pills .nav-link.active {
    color: green !important;
    border-radius: 0;
    background-color: transparent !important;
}

#technology .nav-pills button::before {
    content: '';
    position: absolute;
    height: 2px;
    background: #e8760c;
    width: 00%;
    bottom: 0;
    right: 0;
    transition: .5s;
}

#technology .nav-pills .nav-link {
    position: relative;
}

#technology .nav-pills button.active::before {
    width: 100%;
    left: 0;
}

.front {
    justify-content: center;
    align-items: center !important;
}

footer {
    background-color: #04062C !important;
    padding-top: 12px !important;
    padding: 12px 12px !important;
    text-decoration: none !important;
    color: black;
}

.text-1 {
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.5px;
    word-spacing: 0.5rem;
    font-weight: 600;
}

.align-self-stretch * {
    height: 100%;
}

.order-6 {
    order: 6 !important;
}

.hero-banner {
    background-image: url(download/about1.png);
    background-size: cover;
    color: black;
}

@media(min-width:767px) {
    .order-md-5 {
        order: 5 !important;
    }
}

/* 
@media(max-width:768px){
    .dropdown:hover>.dropdown-menu {
        display: none;
    }
} */

/* owl-carousel code */
@media(max-width:576px) {
    .box {
        min-height: 166px;
        margin-bottom: 20px
    }
}


.owl-carousel .card {
    height: 250px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.owl-carousel .card-body {
    position: absolute;
    background: #f0f8ff8a;
    height: 100%;
    top: 70%;
    transition: .5s;
}

.owl-carousel .card:hover .card-body {
    top: 0;
}

.owl-carousel button.owl-dot {
    border: 1px solid !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background: black; */
    margin: 2px;
}

.owl-carousel button.owl-dot.active {
    background: black;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin: 20px;
    display: none;
}

.blog-info h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 5px;
}

.blog-comment {
    margin-top: 12px;
    min-height: 30px;
}

.blog-info p,
.blog-comment p {
    color: #949494;
}

.blog-comment p:first-child {
    float: left;
}

.blog-comment p:last-child {
    float: right;
    margin-right: 0;
}

.blog-comment p i {
    color: #949494;
}

.read-more {
    color: #949494;
    margin-top: 15px;
    display: inline-block;
}

.blog-img {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.blog-img img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.blog-img img {
    width: 100%;
    opacity: 0.8;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.design {
    border: 1px solid rgb(27, 28, 27);
    height: 200px;
    width: 200px;
}

.box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

.box i {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: lightslategray;
}

.box .text-1 {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}

.offcanvas .dropdown:hover>.dropdown-menu,
.offcanvas .dropdown:focus>.dropdown-menu {
    width: 100%;
    position: unset;
}

.hover-me>ul {
    display: none;
}

.hover-me:hover>ul,
.hover-me:focus-visible>ul {
    display: block;
}

.dropdown-list i {
    width: 20px;
    margin-left: -20px;
}

.dropdown-list:hover i {
    display: block;
    opacity: 2;
    margin: 0;
}


/***********************************
  ************************************
  