* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    align-items: none;
    list-style: none;
    transition: .3s;
}

.center-icon a {
    display: inline-block;
    vertical-align: middle;
}

.center-icon i:hover {
    color: goldenrod !important;
}

.center-icon i {
    vertical-align: middle;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 550px !important;
    }
}

#addressbar {
    font-size: 12px;
    padding: 1px 2px !important;
    z-index: 111px;

}

.navbar a{
    text-transform: capitalize !important;
    text-decoration: none !important;
    list-style: none !important;
}

.navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    border: none !important;
}

.navbar a:hover:not(.navbar-brand),
footer a:hover {
    color: goldenrod;
    text-decoration: none;
    /* border-bottom: 1px solid black !important; */
}

.navbar .has-megamenu {
    position: static !important;
}


#navber-icons {
    color: goldenrod !important;
}

#navber-icons:hover {
    border: none !important;
}

/* navber */
nav.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.dropdown:hover:not(.notdrop)>.dropdown-menu,
.dropdown:focus:not(.notdrop)>.dropdown-menu {
    display: flex;
    width: 65%;
    margin-left: auto;
    position: absolute;
    justify-content: center;
    overflow: break-word;
    align-items: center;
    justify-content: center;
}


.dropdown-menu ul li {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    margin: 0;
    overflow: hidden;
    border-radius: 1px 12px;
    text-align: left;
}

#heading2 {
    display: inline-flex !important;
    margin-top: 0;
    padding: 10 22px !important;
    justify-content: end !important;
}


.px-6 {
    padding-right: 22px !important;
    padding: 0 22px !important;
}

.hover-me:hover>ul,
.hover-me:focus-visible>ul {
    display: block;
}

.dropdown-list i {
    width: 20px;
    margin-left: -20px;
}

.dropdown-list:hover i {
    display: block;
    opacity: 2;
    margin: 0;
}




.navbar .has-megamenu {
    position: static !important;
}

.navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
}

/* desktop has been end  */

/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

.dropdown-menu {
    border: none !important;
}

.navbar-nav li a {
    transition: none; /* Disable the transition property */
}


.hover-me>ul {
    display: none;
}

.hover-me:hover>ul,
.hover-me:focus-visible>ul {
    display: block;
}

.dropdown-list i {
    width: 20px;
    margin-left: -20px;
}

.dropdown-list:hover i {
    display: block;
    opacity: 2;
    margin: 0;
}