@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    text-decoration: none;
    box-sizing: border-box;
}

#webdevelopement-landpage {
    width: 100%;
    height: fit-content;
    margin-top: 100px !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

#software-landpage {
    width: 100%;
    height: fit-content;
    margin-top: 26px !important;
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

h6 {
    margin-top: 33px;
}

.linear-gradient-text {
    background-image: linear-gradient(to right, #ff0000, #00ff00);
    /* Replace these colors with your desired gradient */
    -webkit-background-clip: text;
    color: transparent;
}


/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("download/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;
}